# excute target
bin/

# log unit test and debug
log/

# file excute temp (r)
r
context/

# file save log of brenchmark test
benchmark/save/

# language server floder
.idea/
.caches/
.cache/
.clangd
compile_commands.json

# Zed
.zed/

# GDB
.gdb_history

# Commit Message
commit.txt
